$color-1: #2491eb;
$color-2: #00436f;
$color-3: #ececec;

$color-4: #fafbfc;
$color-5: #eaeaea;

$light-2: #fcfcfc;

$light-gray: $color-5;
$light-blue: #e2effa;

$primary: $color-1;

$color-white: #ffffff;
$color-black: #000000;
$color-primary: $color-1;
$color-warning: #e6a23c;
$color-success: #67c23a;
$color-danger: #f56c6c;
$color-info: #909399;
$color-text-primary: #303133;
$color-text-regular: #606266;
$color-text-secondary: $color-info;
$color-text-placeholder: #c0c4cc;

$border-color-base: #dcdfe6;
$border-color-light: #e4e7ed;
$border-color-extra-light: #f2f6fc;

$background-color-base: #f5f7fa;
