@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700|Montserrat:300,400,500,600,700&display=swap');

$font-1:'Montserrat',sans-serif;
$font-2:'Lato',sans-serif;

@mixin font-1{
    font-family: $font-1;
}
@mixin font-2{
    font-family: $font-2;
}