@import "colors";

$--color-primary: $color-1;
$--color-light: $color-3;

$theme-colors: (
  "primary": $color-1,
  "dark": $color-2,
  "light": $color-4,
  "light-2": $light-2,
  "gray": gray,
  "black": black,
  "light-blue": $light-blue,
  "light-gray": $light-gray
);

$breadcrumb-lh: 50px;
