.custom-collapsible-title{
    display: flex;
    width: 100% !important;
    align-items: center;
    label{
        margin-bottom: 0;
    }
    .end{
        display: flex;
        align-items: center;
        margin-left: auto;
        padding: 0.5rem 1.5em;
        padding-left: 0;
        .el-upload,.el-button{
            &:not(:first-child){
                margin-left: 10px;
            }
        }
    }
}