.el-tabs.custom-tabs {
  &.el-tabs--card {
      .el-tabs__nav {
        display: flex;
        width: 100%;
        border-radius: 0;
        border-top: none;
        .el-tabs__item{
            flex: 1 1 100%;
            background: $light-blue;
            border-top: 2px solid #e4e7ed;
            &.is-active{
                border-top-color: $primary;
                background: white;;
            }
        }
      }
    .el-tabs__header {
        margin: 0;
    }
  }

  .el-tabs__content{
      border-radius: 0;
      border: 1px solid #e4e7ed;
      border-top: none;
      padding: 2em;
      background: white;
  }
}
