
html,body{
    height: 100%;
}

%flex-d{
    display: flex;
    flex-direction: column;
}


body,body > .main-app{
    @extend %flex-d;
}

body{
    margin: 0;
    @include font-1;
    .main-app{
        flex: 1 1 100%;
        display: flex;
        flex-direction: column;
        overflow: hidden;
        main{
            flex: 1 1 auto;
        }
        .main-content{
            overflow: auto;
            background: darken($light,2%);
            // padding-bottom: 4em;
        }
        
    }
}
