header {
  display: flex;
  align-items: center;
  height: 5em;
  flex: 0 0 auto;
  .logo-wrap {
    padding-left: 20px;
    .logo {
      height: 4em;
    }
  }

  .el-button {
    &.logout-icon {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 100%;
      min-width: 60px;
      .material-icons {
        font-size: 30px;
      }

      &:hover,
      &:focus {
        background: transparent;
      }
    }
  }

  .r-side {
    display: flex;
    height: 100%;
    margin-left: auto;
    > div {
      height: 100%;
      display: flex;
      align-items: center;
    }
  }

  .user-tab {
    .user-tab-info {
      .avatar {
        $rad: 40px;
        margin-right: 15px;
        height: $rad;
        width: $rad;
        border-radius: 50%;
      }
    }
  }
}
