.loader{
    position: fixed;
    color: white;
    background: $primary;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;

    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 170px;
    // justify-content: center;

    @include hide;

    &.is-active{
        @include show;
    }

    .loading-logo{
        height: 160px;
        margin-bottom: 170px;
    }

    .el-progress-bar{
        height: auto;
        width: 26vw;
        min-width: 250px;
        &__outer{
            background: #fff;
            border-radius: 5px;
            height: 7px !important;
        }
        &__inner{
            background: lighten($primary,15%);
            border-radius: 0;
        }
    }

    .loader-text{
        color: darken($primary,10%);
        &.active{
            color: white;
        }
    }
}