.notifications-wrap {
  position: relative;
  user-select: none;
  .notification-icon {
    padding: 15px;
    cursor: pointer;
  }
  .notification-list {
    width: 300px;
    position: absolute;
    background: white;
    z-index: 10;
    border-top: 1px solid #eeeeee;
    top: 100%;
    box-shadow: 0 0 2px rgba(black, 0.5);
    right: 0;
    font-size: 11px;

    @include hide;

    &.active {
      @include show;
    }

    .notification-list-header {
      background: white;
      padding: 5px;
    }

    .notification-items {
      .notification-item {
        padding: 10px;
        border-top: 1px solid lightgrey;

        p {
          margin: 0;
        }
      }
    }
  }

  .el-button.custom-notification-button {
    padding: 0;
    margin: 0 5px;
    height: 26px;

    &.btn-accept {
      background-color: $primary;
      border: 1px solid $primary;
      color: white;
      &:hover {
        background-color: darken($primary, 10%);
      }
    }
    &.btn-deny {
      background-color: #f5f6f7;
      border: 1px solid #ccd0d5;
      color: #4b4f56;
      &:hover {
        background-color: darken(#f5f6f7, 10%);
      }
    }
  }
}
