.admin-content-wrap {
  $col: darken(white, 1%);
  border: 1px solid $col;
  padding: 2em 1em;
  margin: 0 0;
  background: $col;
  box-shadow: 0 0 15px rgba(black, 0.05);

  .btn-list .el-button {
    margin: 0;
  }

  .el-col,
  .row .col,
  .row *[class*="col"] {
    $pd: 5px;
    padding: 0 $pd;
  }
  .btn-list .el-button {
    &:not(:last-child) {
      margin-right: 5px;
    }
  }
}

.carte-list-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 1em;
  padding: 2em;
  background: white;
  height: 270px;
  box-shadow: 0 10px 18px rgba(black, 0.05);

  h6 {
    font-size: 15px;
  }

  img {
    height: 70px;
  }
}
