@import '~element-ui/lib/theme-chalk/index.css';
@import '~@fortawesome/fontawesome-free/css/all.css';

body, html {
  font-family: "Helvetica Neue", Helvetica, Arial,sans-serif;
}

// App: form

.float-left {
  float: left;
}

.float-right {
  float: right;
}

.text-center {
    text-align: center;
}

// Spacing
.mt-1 {
    margin-top: 5px !important;
}
.mt-2 {
    margin-top: 10px !important;
}
.mt-3 {
    margin-top: 15px !important;
}
.ml-1 {
    margin-left: 5px !important;
}
.ml-2 {
    margin-left: 10px !important;
}
.ml-3 {
    margin-left: 15px !important;
}
.mb-1 {
    margin-bottom: 5px !important;
}
.mb-2 {
    margin-bottom: 10px !important;
}
.mb-3 {
    margin-bottom: 15px !important;
}
.pl-1 {
    padding-left: 5px !important;
}
.pl-2 {
    padding-left: 10px !important;
}
.pr-1 {
    padding-right: 5px !important;
}
.pr-2 {
    padding-right: 10px !important;
}

// Element UI

.el-table .cell {
  word-break: break-word;
}

.el-breadcrumb {
  margin-bottom: 25px;
}

.file-row {
  max-width: 1390px;
}