.el-button {
  display: inline-block;
  line-height: 1;
  white-space: nowrap;
  cursor: pointer;
  text-align: center;
  box-sizing: border-box;
  outline: 0;
  margin: 0;
  transition: 0.1s;
  font-weight: 500;
  padding: $btn-padding-md;
  height: $btn-height-md;
  font-size: 14px;
  border-radius: 4px;
  & + .el-button {
    margin-left: 10px;
  }
  &:focus {
    color: $color_2;
    border-color: $border_color_23;
    background-color: $background_color_5;
  }
  &:hover {
    color: $color_2;
    border-color: $border_color_23;
    background-color: $background_color_5;
  }
  &:active {
    color: $color_23;
    border-color: $border_color_24;
    outline: 0;
  }
  &::-moz-focus-inner {
    border: 0;
  }
  [class*="el-icon-"] {
    & + span {
      margin-left: 5px;
    }
  }
}
.el-button.is-plain {
  &:focus {
    background: $color-white;
    border-color: $border_color_2;
    color: $color_2;
  }
  &:hover {
    background: $color-white;
    border-color: $border_color_2;
    color: $color_2;
  }
  &:active {
    color: $color_23;
    border-color: $border_color_24;
    background: $color-white;
    outline: 0;
  }
}
.el-button.is-active {
  color: $color_23;
  border-color: $border_color_24;
}
.el-button.is-disabled {
  color: $color_3;
  cursor: not-allowed;
  background-image: none;
  background-color: $background_color_1;
  border-color: $border_color_3;
  &:focus {
    color: $color_3;
    cursor: not-allowed;
    background-image: none;
    background-color: $background_color_1;
    border-color: $border_color_3;
  }
  &:hover {
    color: $color_3;
    cursor: not-allowed;
    background-image: none;
    background-color: $background_color_1;
    border-color: $border_color_3;
  }
}

.el-button.is-disabled.el-button--text {
  background-color: $background_color_7;
}
.el-button.is-disabled.is-plain {
  background-color: $background_color_1;
  border-color: $border_color_3;
  color: $color_3;
  &:focus {
    background-color: $background_color_1;
    border-color: $border_color_3;
    color: $color_3;
  }
  &:hover {
    background-color: $background_color_1;
    border-color: $border_color_3;
    color: $color_3;
  }
}
.el-button.is-loading {
  position: relative;
  pointer-events: none;
  &:before {
    pointer-events: none;
    content: "";
    position: absolute;
    left: -1px;
    top: -1px;
    right: -1px;
    bottom: -1px;
    border-radius: inherit;
    background-color: $background_color_36;
  }
}
.el-button.is-round {
  border-radius: 20px;
  padding: 12px 23px;
}
.el-button.is-circle {
  border-radius: 50%;
  padding: 12px;
}
.el-button--primary {
  color: $color_5;
  background-color: $background_color_3;
  border-color: $border_color_2;
  &:focus {
    background: #66b1ff;
    border-color: $border_color_25;
    color: $color_5;
  }
  &:hover {
    background: #66b1ff;
    border-color: $border_color_25;
    color: $color_5;
  }
  &:active {
    background: #3a8ee6;
    border-color: $border_color_24;
    color: $color_5;
    outline: 0;
  }
}
.el-button--primary.is-active {
  background: #3a8ee6;
  border-color: $border_color_24;
  color: $color_5;
}
.el-button--primary.is-disabled {
  color: $color_5;
  background-color: $background_color_37;
  border-color: $border_color_26;
  &:active {
    color: $color_5;
    background-color: $background_color_37;
    border-color: $border_color_26;
  }
  &:focus {
    color: $color_5;
    background-color: $background_color_37;
    border-color: $border_color_26;
  }
  &:hover {
    color: $color_5;
    background-color: $background_color_37;
    border-color: $border_color_26;
  }
}
.el-button--primary.is-plain {
  color: $color_2;
  background: #ecf5ff;
  border-color: $border_color_18;
  &:focus {
    background: $color-primary;
    border-color: $border_color_2;
    color: $color_5;
  }
  &:hover {
    background: $color-primary;
    border-color: $border_color_2;
    color: $color_5;
  }
  &:active {
    background: #3a8ee6;
    border-color: $border_color_24;
    color: $color_5;
    outline: 0;
  }
}
.el-button--primary.is-plain.is-disabled {
  color: $color_24;
  background-color: $background_color_5;
  border-color: $border_color_14;
  &:active {
    color: $color_24;
    background-color: $background_color_5;
    border-color: $border_color_14;
  }
  &:focus {
    color: $color_24;
    background-color: $background_color_5;
    border-color: $border_color_14;
  }
  &:hover {
    color: $color_24;
    background-color: $background_color_5;
    border-color: $border_color_14;
  }
}
.el-button--success {
  color: $color_5;
  background-color: $background_color_16;
  border-color: $border_color_7;
  &:focus {
    background: #85ce61;
    border-color: $border_color_27;
    color: $color_5;
  }
  &:hover {
    background: #85ce61;
    border-color: $border_color_27;
    color: $color_5;
  }
  &:active {
    background: #5daf34;
    border-color: $border_color_28;
    color: $color_5;
    outline: 0;
  }
}
.el-button--success.is-active {
  background: #5daf34;
  border-color: $border_color_28;
  color: $color_5;
}
.el-button--success.is-disabled {
  color: $color_5;
  background-color: $background_color_38;
  border-color: $border_color_29;
  &:active {
    color: $color_5;
    background-color: $background_color_38;
    border-color: $border_color_29;
  }
  &:focus {
    color: $color_5;
    background-color: $background_color_38;
    border-color: $border_color_29;
  }
  &:hover {
    color: $color_5;
    background-color: $background_color_38;
    border-color: $border_color_29;
  }
}
.el-button--success.is-plain {
  color: $color_15;
  background: #f0f9eb;
  border-color: $border_color_20;
  &:focus {
    background: $color-success;
    border-color: $border_color_7;
    color: $color_5;
  }
  &:hover {
    background: $color-success;
    border-color: $border_color_7;
    color: $color_5;
  }
  &:active {
    background: #5daf34;
    border-color: $border_color_28;
    color: $color_5;
    outline: 0;
  }
}
.el-button--success.is-plain.is-disabled {
  color: $color_25;
  background-color: $background_color_15;
  border-color: $border_color_9;
  &:active {
    color: $color_25;
    background-color: $background_color_15;
    border-color: $border_color_9;
  }
  &:focus {
    color: $color_25;
    background-color: $background_color_15;
    border-color: $border_color_9;
  }
  &:hover {
    color: $color_25;
    background-color: $background_color_15;
    border-color: $border_color_9;
  }
}
.el-button--warning {
  color: $color_5;
  background-color: $background_color_18;
  border-color: $border_color_17;
  &:focus {
    background: #ebb563;
    border-color: $border_color_30;
    color: $color_5;
  }
  &:hover {
    background: #ebb563;
    border-color: $border_color_30;
    color: $color_5;
  }
  &:active {
    background: #cf9236;
    border-color: $border_color_31;
    color: $color_5;
    outline: 0;
  }
}
.el-button--warning.is-active {
  background: #cf9236;
  border-color: $border_color_31;
  color: $color_5;
}
.el-button--warning.is-disabled {
  color: $color_5;
  background-color: $background_color_39;
  border-color: $border_color_32;
  &:active {
    color: $color_5;
    background-color: $background_color_39;
    border-color: $border_color_32;
  }
  &:focus {
    color: $color_5;
    background-color: $background_color_39;
    border-color: $border_color_32;
  }
  &:hover {
    color: $color_5;
    background-color: $background_color_39;
    border-color: $border_color_32;
  }
}
.el-button--warning.is-plain {
  color: $color_16;
  background: #fdf6ec;
  border-color: $border_color_21;
  &:focus {
    background: $color-warning;
    border-color: $border_color_17;
    color: $color_5;
  }
  &:hover {
    background: $color-warning;
    border-color: $border_color_17;
    color: $color_5;
  }
  &:active {
    background: #cf9236;
    border-color: $border_color_31;
    color: $color_5;
    outline: 0;
  }
}
.el-button--warning.is-plain.is-disabled {
  color: $color_26;
  background-color: $background_color_17;
  border-color: $border_color_10;
  &:active {
    color: $color_26;
    background-color: $background_color_17;
    border-color: $border_color_10;
  }
  &:focus {
    color: $color_26;
    background-color: $background_color_17;
    border-color: $border_color_10;
  }
  &:hover {
    color: $color_26;
    background-color: $background_color_17;
    border-color: $border_color_10;
  }
}
.el-button--danger {
  color: $color_5;
  background-color: $background_color_20;
  border-color: $border_color_6;
  &:focus {
    background: #f78989;
    border-color: $border_color_33;
    color: $color_5;
  }
  &:hover {
    background: #f78989;
    border-color: $border_color_33;
    color: $color_5;
  }
  &:active {
    background: #dd6161;
    border-color: $border_color_34;
    color: $color_5;
    outline: 0;
  }
}
.el-button--danger.is-active {
  background: #dd6161;
  border-color: $border_color_34;
  color: $color_5;
}
.el-button--danger.is-disabled {
  color: $color_5;
  background-color: $background_color_40;
  border-color: $border_color_35;
  &:active {
    color: $color_5;
    background-color: $background_color_40;
    border-color: $border_color_35;
  }
  &:focus {
    color: $color_5;
    background-color: $background_color_40;
    border-color: $border_color_35;
  }
  &:hover {
    color: $color_5;
    background-color: $background_color_40;
    border-color: $border_color_35;
  }
}
.el-button--danger.is-plain {
  color: $color_17;
  background: #fef0f0;
  border-color: $border_color_22;
  &:focus {
    background: $color-danger;
    border-color: $border_color_6;
    color: $color_5;
  }
  &:hover {
    background: $color-danger;
    border-color: $border_color_6;
    color: $color_5;
  }
  &:active {
    background: #dd6161;
    border-color: $border_color_34;
    color: $color_5;
    outline: 0;
  }
}
.el-button--danger.is-plain.is-disabled {
  color: $color_27;
  background-color: $background_color_19;
  border-color: $border_color_11;
  &:active {
    color: $color_27;
    background-color: $background_color_19;
    border-color: $border_color_11;
  }
  &:focus {
    color: $color_27;
    background-color: $background_color_19;
    border-color: $border_color_11;
  }
  &:hover {
    color: $color_27;
    background-color: $background_color_19;
    border-color: $border_color_11;
  }
}
.el-button--info {
  color: $color_5;
  background-color: $background_color_10;
  border-color: $border_color_16;
  &:focus {
    background: #a6a9ad;
    border-color: $border_color_36;
    color: $color_5;
  }
  &:hover {
    background: #a6a9ad;
    border-color: $border_color_36;
    color: $color_5;
  }
  &:active {
    background: #82848a;
    border-color: $border_color_37;
    color: $color_5;
    outline: 0;
  }
}
.el-button--info.is-active {
  background: #82848a;
  border-color: $border_color_37;
  color: $color_5;
}
.el-button--info.is-disabled {
  color: $color_5;
  background-color: $background_color_41;
  border-color: $border_color_38;
  &:active {
    color: $color_5;
    background-color: $background_color_41;
    border-color: $border_color_38;
  }
  &:focus {
    color: $color_5;
    background-color: $background_color_41;
    border-color: $border_color_38;
  }
  &:hover {
    color: $color_5;
    background-color: $background_color_41;
    border-color: $border_color_38;
  }
}
.el-button--info.is-plain {
  color: $color_6;
  background: #f4f4f5;
  border-color: $border_color_19;
  &:focus {
    background: $color-info;
    border-color: $border_color_16;
    color: $color_5;
  }
  &:hover {
    background: $color-info;
    border-color: $border_color_16;
    color: $color_5;
  }
  &:active {
    background: #82848a;
    border-color: $border_color_37;
    color: $color_5;
    outline: 0;
  }
}
.el-button--info.is-plain.is-disabled {
  color: $color_28;
  background-color: $background_color_2;
  border-color: $border_color_15;
  &:active {
    color: $color_28;
    background-color: $background_color_2;
    border-color: $border_color_15;
  }
  &:focus {
    color: $color_28;
    background-color: $background_color_2;
    border-color: $border_color_15;
  }
  &:hover {
    color: $color_28;
    background-color: $background_color_2;
    border-color: $border_color_15;
  }
}
.el-button--text {
  border-color: $border_color_1;
  color: $color_2;
  background: 0 0;
  padding-left: 0;
  padding-right: 0;
  &:active {
    border-color: $border_color_1;
    color: $color_23;
    background-color: $background_color_7;
  }
  &:focus {
    color: $color_8;
    border-color: $border_color_1;
    background-color: $background_color_7;
  }
  &:hover {
    color: $color_8;
    border-color: $border_color_1;
    background-color: $background_color_7;
  }
}
.el-button--text.is-disabled {
  border-color: $border_color_1;
  &:focus {
    border-color: $border_color_1;
  }
  &:hover {
    border-color: $border_color_1;
  }
}
.el-button {
  &--large {
    font-size: 17px;
    border-radius: $btn-border-radius-lg;
    padding: $btn-padding-lg;
    height: $btn-height-lg;

    .is-round {
      padding: 14px 25px;
    }
    .is-circle {
      padding: 14px;
    }
  }
  
  &--medium {
    font-size: 16px;
    border-radius: $btn-border-radius-lg;
    padding: $btn-padding-md;
    height: $btn-height-md;
    .is-round {
      padding: 10px 20px;
    }
    .is-circle {
      padding: 10px;
    }
  }

  &--small {
    font-size: 12px;
    border-radius: $btn-border-radius-sm;
    padding: $btn-padding-sm;
    height: $btn-height-sm;

    .is-round {
      padding: 9px 15px;
    }
    .is-circle {
      padding: 9px;
    }
  }

  &--mini {
    font-size: 12px;
    border-radius: $btn-border-radius-mn;
    padding: $btn-padding-mn;
    height: $btn-height-mn;

    .is-round {
      padding: 7px 15px;
    }
    .is-circle {
      padding: 7px;
    }
  }
}

.el-button-group {
	>.el-button.is-active {
		z-index: 1;
	}
	>.el-button.is-disabled {
		z-index: 1;
	}
	>.el-button {
		&:active {
			z-index: 1;
		}
		&:focus {
			z-index: 1;
		}
		&:hover {
			z-index: 1;
		}
		float: left;
		position: relative;
		&+.el-button {
			margin-left: 0;
		}
		&:first-child {
			border-top-right-radius: 0;
			border-bottom-right-radius: 0;
			&:last-child {
				border-radius: 4px;
			}
			&:last-child.is-round {
				border-radius: 20px;
			}
			&:last-child.is-circle {
				border-radius: 50%;
			}
		}
		&:last-child {
			border-top-left-radius: 0;
			border-bottom-left-radius: 0;
		}
		&:not(:first-child) {
			&:not(:last-child) {
				border-radius: 0;
			}
		}
		&:not(:last-child) {
			margin-right: -1px;
		}
	}
	display: inline-block;
	vertical-align: middle;
	&::after {
		display: table;
		content: "";
		clear: both;
	}
	&::before {
		display: table;
		content: "";
	}
	>.el-dropdown {
		>.el-button {
			border-top-left-radius: 0;
			border-bottom-left-radius: 0;
			border-left-color: $border_left_color_5;
		}
	}
	.el-button--primary {
		&:first-child {
			border-right-color: $border_right_color_5;
		}
		&:last-child {
			border-left-color: $border_left_color_5;
		}
		&:not(:first-child) {
			&:not(:last-child) {
				border-left-color: $border_left_color_5;
				border-right-color: $border_right_color_5;
			}
		}
	}
	.el-button--success {
		&:first-child {
			border-right-color: $border_right_color_5;
		}
		&:last-child {
			border-left-color: $border_left_color_5;
		}
		&:not(:first-child) {
			&:not(:last-child) {
				border-left-color: $border_left_color_5;
				border-right-color: $border_right_color_5;
			}
		}
	}
	.el-button--warning {
		&:first-child {
			border-right-color: $border_right_color_5;
		}
		&:last-child {
			border-left-color: $border_left_color_5;
		}
		&:not(:first-child) {
			&:not(:last-child) {
				border-left-color: $border_left_color_5;
				border-right-color: $border_right_color_5;
			}
		}
	}
	.el-button--danger {
		&:first-child {
			border-right-color: $border_right_color_5;
		}
		&:last-child {
			border-left-color: $border_left_color_5;
		}
		&:not(:first-child) {
			&:not(:last-child) {
				border-left-color: $border_left_color_5;
				border-right-color: $border_right_color_5;
			}
		}
	}
	.el-button--info {
		&:first-child {
			border-right-color: $border_right_color_5;
		}
		&:last-child {
			border-left-color: $border_left_color_5;
		}
		&:not(:first-child) {
			&:not(:last-child) {
				border-left-color: $border_left_color_5;
				border-right-color: $border_right_color_5;
			}
		}
	}
}