//INPUT

.el-input {
  position: relative;
  font-size: 14px;
  display: inline-block;
  width: 100%;
  background: $primary-bg;

  &.outline {
    background: transparent;
  }

  &::-webkit-scrollbar {
    z-index: 11;
    width: 6px;
    &:horizontal {
      height: 6px;
    }
  }
  &::-webkit-scrollbar-thumb {
    border-radius: 5px;
    width: 6px;
    background: #b4bccc;
  }
  &::-webkit-scrollbar-corner {
    background: $color-white;
  }
  &::-webkit-scrollbar-track {
    background: $color-white;
  }
  &::-webkit-scrollbar-track-piece {
    background: $color-white;
    width: 6px;
  }
  .el-input__clear {
    color: $color_3;
    font-size: 14px;
    cursor: pointer;
    transition: color 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);
    &:hover {
      color: $color_6;
    }
  }
  .el-input__count {
    height: 100%;
    display: inline-flex;
    align-items: center;
    color: $color_6;
    font-size: 12px;
    .el-input__count-inner {
      background: $color-white;
      line-height: initial;
      display: inline-block;
      padding: 0 5px;
    }
  }
}

.el-input__inner {
  background-color: inherit;
  border-radius: 4px;
  // border: 1px solid $border-color-base;
  border: none;
  color: $color_4;
  display: inline-block;
  font-size: inherit;
  height: 40px;
  line-height: 40px;
  outline: 0;
  padding: 0 15px;
  transition: border-color 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);
  width: 100%;
  &::-webkit-input-placeholder {
    color: $color_3;
  }
  &:-ms-input-placeholder {
    color: $color_3;
  }
  &::-ms-input-placeholder {
    color: $color_3;
  }
  &::placeholder {
    color: $color_3;
  }
  &:hover {
    border-color: $border_color_4;
  }
  &:focus {
    border-color: $border_color_2;
    outline: 0;
  }
  &::-ms-clear {
    display: none;
    width: 0;
    height: 0;
  }
}
.el-input__prefix {
  position: absolute;
  top: 0;
  height: 100%;
  color: $color_3;
  text-align: center;
  left: 5px;
  transition: all 0.3s;
}
.el-input.is-active {
  .el-input__inner {
    border-color: $border_color_2;
    outline: 0;
  }
}

.el-input__suffix-inner {
  pointer-events: all;
}

.el-input__icon {
  height: 100%;
  width: 25px;
  text-align: center;
  transition: all 0.3s;
  line-height: 40px;
  &:after {
    content: "";
    height: 100%;
    width: 0;
    display: inline-block;
    vertical-align: middle;
  }
}

.el-input__validateIcon {
  pointer-events: none;
}

.el-input.is-disabled {
  .el-input__inner {
    background-color: $background_color_4;
    border-color: $border_color_5;
    color: $color_3;
    cursor: not-allowed;
    &::-webkit-input-placeholder {
      color: $color_3;
    }
    &:-ms-input-placeholder {
      color: $color_3;
    }
    &::-ms-input-placeholder {
      color: $color_3;
    }
    &::placeholder {
      color: $color_3;
    }
  }
  .el-input__icon {
    cursor: not-allowed;
  }
}

.el-input.is-exceed {
  .el-input__inner {
    border-color: $border_color_6;
  }
  .el-input__suffix {
    .el-input__count {
      color: $color_17;
    }
  }
}

.el-input--suffix {
  .el-input__inner {
    padding-right: 30px;
  }
}

.el-input--prefix {
  .el-input__inner {
    padding-left: 30px;
  }
}

.el-input--medium {
  font-size: 14px;
  .el-input__inner {
    height: 36px;
    line-height: 36px;
  }
  .el-input__icon {
    line-height: 36px;
  }
}

.el-input--small {
  font-size: 13px;
  .el-input__inner {
    height: 32px;
    line-height: 32px;
  }
  .el-input__icon {
    line-height: 32px;
  }
}
.el-input--mini {
  font-size: 12px;
  .el-input__inner {
    height: 28px;
    line-height: 28px;
  }
  .el-input__icon {
    line-height: 28px;
  }
}

.el-input-group {
  line-height: normal;
  display: inline-table;
  width: 100%;
  border-collapse: separate;
  border-spacing: 0;
  > .el-input__inner {
    vertical-align: middle;
    display: table-cell;
  }
}

.el-input-group__append {
  background-color: $background_color_4;
  color: $color_6;
  vertical-align: middle;
  display: table-cell;
  position: relative;
  border: 1px solid $border-color-base;
  border-radius: 4px;
  padding: 0 20px;
  width: 1px;
  white-space: nowrap;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border-left: 0;
  &:focus {
    outline: 0;
  }
  .el-button {
    display: inline-block;
    margin: -10px -20px;
    font-size: inherit;
  }
  .el-select {
    display: inline-block;
    margin: -10px -20px;
  }
  button.el-button {
    border-color: $border_color_1;
    background-color: $background_color_7;
    color: $color_10;
    border-top: 0;
    border-bottom: 0;
  }
  div.el-select {
    .el-input__inner {
      border-color: $border_color_1;
      background-color: $background_color_7;
      color: $color_10;
      border-top: 0;
      border-bottom: 0;
    }
    &:hover {
      .el-input__inner {
        border-color: $border_color_1;
        background-color: $background_color_7;
        color: $color_10;
        border-top: 0;
        border-bottom: 0;
      }
    }
  }
  .el-input {
    font-size: inherit;
  }
}

.el-input-group__prepend {
  background-color: $background_color_4;
  color: $color_6;
  vertical-align: middle;
  display: table-cell;
  position: relative;
  border: 1px solid $border-color-base;
  border-radius: 4px;
  padding: 0 20px;
  width: 1px;
  white-space: nowrap;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-right: 0;
  &:focus {
    outline: 0;
  }
  .el-button {
    display: inline-block;
    margin: -10px -20px;
    font-size: inherit;
  }
  .el-select {
    display: inline-block;
    margin: -10px -20px;
  }
  button.el-button {
    border-color: $border_color_1;
    background-color: $background_color_7;
    color: $color_10;
    border-top: 0;
    border-bottom: 0;
  }
  div.el-select {
    .el-input__inner {
      border-color: $border_color_1;
      background-color: $background_color_7;
      color: $color_10;
      border-top: 0;
      border-bottom: 0;
    }
    &:hover {
      .el-input__inner {
        border-color: $border_color_1;
        background-color: $background_color_7;
        color: $color_10;
        border-top: 0;
        border-bottom: 0;
      }
    }
  }
  .el-input {
    font-size: inherit;
  }
}

.el-input-group--prepend {
  .el-input__inner {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }
  .el-select {
    .el-input.is-focus {
      .el-input__inner {
        border-color: $border_color_1;
      }
    }
  }
}

.el-input-group--append {
  .el-input__inner {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }
  .el-select {
    .el-input.is-focus {
      .el-input__inner {
        border-color: $border_color_1;
      }
    }
  }
}

// CHECKBOX
.el-checkbox.is-bordered {
  padding: 9px 20px 9px 10px;
  border-radius: 4px;
  border: 1px solid $border-color-base;

  line-height: normal;
  height: 40px;
  & + .el-checkbox.is-bordered {
    margin-left: 10px;
  }
}
.el-checkbox.is-bordered.is-checked {
  border-color: $border_color_2;
}
.el-checkbox.is-bordered.is-disabled {
  border-color: $border_color_3;
  cursor: not-allowed;
}
.el-checkbox.is-bordered.el-checkbox--medium {
  padding: 7px 20px 7px 10px;
  border-radius: 4px;
  height: 36px;
  .el-checkbox__label {
    line-height: 17px;
    font-size: 14px;
  }
  .el-checkbox__inner {
    height: 14px;
    width: 14px;
  }
}
.el-checkbox.is-bordered.el-checkbox--small {
  padding: 5px 15px 5px 10px;
  border-radius: 3px;
  height: 32px;
  .el-checkbox__label {
    line-height: 15px;
    font-size: 12px;
  }
  .el-checkbox__inner {
    height: 12px;
    width: 12px;
    &::after {
      height: 6px;
      width: 2px;
    }
  }
}
.el-checkbox.is-bordered.el-checkbox--mini {
  padding: 3px 15px 3px 10px;
  border-radius: 3px;
  height: 28px;
  .el-checkbox__label {
    line-height: 12px;
    font-size: 12px;
  }
  .el-checkbox__inner {
    height: 12px;
    width: 12px;
    &::after {
      height: 6px;
      width: 2px;
    }
  }
}
.el-checkbox__input.is-disabled {
  .el-checkbox__inner {
    background-color: $background_color_26;
    border-color: $border_color_39;
    cursor: not-allowed;
    &::after {
      cursor: not-allowed;
      border-color: $border_color_4;
    }
    & + .el-checkbox__label {
      cursor: not-allowed;
    }
  }
  & + span.el-checkbox__label {
    color: $color_3;
    cursor: not-allowed;
  }
}
.el-checkbox__input.is-disabled.is-checked {
  .el-checkbox__inner {
    background-color: $background_color_6;
    border-color: $border_color_39;
    &::after {
      border-color: $border_color_4;
    }
  }
}
.el-checkbox__input.is-disabled.is-indeterminate {
  .el-checkbox__inner {
    background-color: $background_color_6;
    border-color: $border_color_39;
    &::before {
      background-color: $background_color_9;
      border-color: $border_color_4;
    }
  }
}
.el-checkbox__input.is-checked {
  .el-checkbox__inner {
    background-color: $background_color_3;
    border-color: $border_color_2;
    &::after {
      transform: rotate(45deg) scaleY(1);
    }
  }
  & + .el-checkbox__label {
    color: $color_2;
  }
}
.el-checkbox__input.is-indeterminate {
  .el-checkbox__inner {
    background-color: $background_color_3;
    border-color: $border_color_2;
    &::before {
      content: "";
      position: absolute;
      display: block;
      background-color: $background_color_1;
      height: 2px;
      transform: scale(0.5);
      left: 0;
      right: 0;
      top: 5px;
    }
    &::after {
      display: none;
    }
  }
}
.el-checkbox__input.is-focus {
  .el-checkbox__inner {
    border-color: $border_color_2;
  }
}
.el-checkbox__inner {
  display: inline-block;
  position: relative;
  border: 1px solid $border-color-base;
  border-radius: 2px;

  width: 14px;
  height: 14px;
  background-color: $background_color_1;
  z-index: 1;
  transition: border-color 0.25s cubic-bezier(0.71, -0.46, 0.29, 1.46),
    background-color 0.25s cubic-bezier(0.71, -0.46, 0.29, 1.46);
  &:hover {
    border-color: $border_color_2;
  }
  &::after {
    box-sizing: content-box;
    content: "";
    border: 1px solid $color-white;
    border-left: 0;
    border-top: 0;
    height: 7px;
    left: 4px;
    position: absolute;
    top: 1px;
    transform: rotate(45deg) scaleY(0);
    width: 3px;
    transition: -webkit-transform 0.15s ease-in 0.05s;
    transition: transform 0.15s ease-in 0.05s;
    transition: transform 0.15s ease-in 0.05s, -webkit-transform 0.15s ease-in 0.05s;
    transform-origin: center;
  }
}
.el-checkbox__original {
  opacity: 0;
  outline: 0;
  position: absolute;
  margin: 0;
  width: 0;
  height: 0;
  z-index: -1;
}
.el-checkbox-button {
  display: inline-block;
  position: relative;
  &:first-child {
    .el-checkbox-button__inner {
      border-left: 1px solid $border-color-base;
      border-radius: 4px 0 0 4px;
      box-shadow: none !important;
    }
  }
  &:last-child {
    .el-checkbox-button__inner {
      border-radius: 0 4px 4px 0;
    }
  }
}
.el-checkbox__label {
  display: inline-block;
  padding-left: 10px;
  line-height: 19px;
  font-size: 14px;
}
.el-checkbox-button__inner.is-round {
  padding: 12px 20px;
}

.el-checkbox-button__original {
  opacity: 0;
  outline: 0;
  position: absolute;
  margin: 0;
  z-index: -1;
}

.el-checkbox-button.is-checked {
  .el-checkbox-button__inner {
    color: $color_5;
    background-color: $background_color_3;
    border-color: $border_color_2;
    box-shadow: -1px 0 0 0 #8cc5ff;
  }
  &:first-child {
    .el-checkbox-button__inner {
      border-left-color: $border_left_color_6;
    }
  }
}
.el-checkbox-button.is-disabled {
  .el-checkbox-button__inner {
    color: $color_3;
    cursor: not-allowed;
    background-image: none;
    background-color: $background_color_1;
    border-color: $border_color_3;
    box-shadow: none;
  }
  &:first-child {
    .el-checkbox-button__inner {
      border-left-color: $border_left_color_4;
    }
  }
}
.el-checkbox-button.is-focus {
  .el-checkbox-button__inner {
    border-color: $border_color_2;
  }
}
.el-checkbox-button--medium {
  .el-checkbox-button__inner {
    padding: 10px 20px;
    font-size: 14px;
    border-radius: 0;
  }
  .el-checkbox-button__inner.is-round {
    padding: 10px 20px;
  }
}
.el-checkbox-button--small {
  .el-checkbox-button__inner {
    padding: 9px 15px;
    font-size: 12px;
    border-radius: 0;
  }
  .el-checkbox-button__inner.is-round {
    padding: 9px 15px;
  }
}
.el-checkbox-button--mini {
  .el-checkbox-button__inner {
    padding: 7px 15px;
    font-size: 12px;
    border-radius: 0;
  }
  .el-checkbox-button__inner.is-round {
    padding: 7px 15px;
  }
}
.el-checkbox-group {
  font-size: 0;
}

// SELECT
// .el-select {  }

// TEXTAREA

.el-textarea {
  position: relative;
  display: inline-block;
  width: 100%;
  vertical-align: bottom;
  font-size: 14px;
  .el-input__count {
    color: $color_6;
    background: $color-white;
    position: absolute;
    font-size: 12px;
    bottom: 5px;
    right: 10px;
  }
}
.el-textarea__inner {
  display: block;
  resize: vertical;
  padding: 5px 15px;
  line-height: 1.5;

  width: 100%;
  font-size: inherit;
  color: $color_4;
  background-color: $background_color_1;
  background-image: none;
  border: 1px solid $border-color-base;
  border-radius: 4px;
  transition: border-color 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);
  &::-webkit-input-placeholder {
    color: $color_3;
  }
  &:-ms-input-placeholder {
    color: $color_3;
  }
  &::-ms-input-placeholder {
    color: $color_3;
  }
  &::placeholder {
    color: $color_3;
  }
  &:hover {
    border-color: $border_color_4;
  }
  &:focus {
    outline: 0;
    border-color: $border_color_2;
  }
}
.el-textarea.is-disabled {
  .el-textarea__inner {
    background-color: $background_color_4;
    border-color: $border_color_5;
    color: $color_3;
    cursor: not-allowed;
    &::-webkit-input-placeholder {
      color: $color_3;
    }
    &:-ms-input-placeholder {
      color: $color_3;
    }
    &::-ms-input-placeholder {
      color: $color_3;
    }
    &::placeholder {
      color: $color_3;
    }
  }
}
.el-textarea.is-exceed {
  .el-textarea__inner {
    border-color: $border_color_6;
  }
  .el-input__count {
    color: $color_17;
  }
}

// COLOR PICKER
.el-color-picker__mask {
  height: 38px;
  width: 38px;
  border-radius: 4px;
  position: absolute;
  top: 1px;
  left: 1px;
  z-index: 1;
  cursor: not-allowed;
  background-color: $background_color_35;
}
.el-color-picker__trigger {
  display: inline-block;

  height: 40px;
  width: 40px;
  padding: 4px;
  border: 1px solid #e6e6e6;
  border-radius: 4px;
  font-size: 0;
  position: relative;
  cursor: pointer;
}
.el-color-picker__color {
  position: relative;
  display: block;

  border: 1px solid #999;
  border-radius: 2px;
  width: 100%;
  height: 100%;
  text-align: center;
}
.el-color-picker__color.is-alpha {
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAwAAAAMCAIAAADZF8uwAAAAGUlEQVQYV2M4gwH+YwCGIasIUwhT25BVBADtzYNYrHvv4gAAAABJRU5ErkJggg==);
}
.el-color-picker__color-inner {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
}
.el-color-picker__empty {
  top: 50%;
  left: 50%;
  font-size: 12px;
  position: absolute;
  color: $color_7;
  transform: translate3d(-50%, -50%, 0);
}
.el-color-picker__icon {
  top: 50%;
  left: 50%;
  font-size: 12px;
  position: absolute;
  display: inline-block;
  width: 100%;
  transform: translate3d(-50%, -50%, 0);
  color: $color_5;
  text-align: center;
}
.el-color-picker__panel {
  position: absolute;
  z-index: 10;
  padding: 6px;
  box-sizing: content-box;
  background-color: $background_color_1;
  border: 1px solid #ebeef5;
  border-radius: 4px;
  box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.1);
}

.el-select,
.el-input {
  &.block {
    width: 100%;
  }
}
